@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top:0px;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.3) 80%,rgba(0,0,0,.3) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.3) 80%,rgba(0,0,0,.3) 100%);
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}


#thanks {
  background-color: #fff;
}
#thanks::after {
  content: none;
}
#thanks div {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#thanks h2 {
  margin-bottom: 60px;
  color: #333;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}
#thanks p {
  color: #333;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
}
#thanks p a {
  color: #333;
  text-decoration: none;
  transition: color .3s;
}
#thanks p a:hover {
  color: #888;
}
.demo1 a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

.demo2 a {
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo2 a:hover {
  opacity: .5;
}


#section01 a {
  padding-top: 60px;
}
#section01 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}



#section02 a {
  padding-top: 60px;
}
#section02 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
@-webkit-keyframes sdb02 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb02 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

#section03
{
  width: 100%;
  height: 100%;
}
#section03 a {
  padding-top: 60px;
}
#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#thx{
	margin-top: 270px;
    margin-left: -380px;
}

.expanding-grid a{
	padding-top: 0px;
}

@-webkit-keyframes sdb03 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb03 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}


#section04 a {
  padding-top: 60px;
}
#section04 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

<!-- about us 첫 번째 -->

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

html, body{
  position:relative;
  width:100%;
  height:100%;
  margin:0;
  background: #fff;
  overflow : hidden;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.f {
  font-size: 0.8em;
  position: fixed;
  top: 5px;
  right: 10px;
  color : #070707;
}

.f a {
  color : #C9F0FF;
}

header {
  /* position : absolute; */
  top:50%;
  transform:translateY(-50%);
}

#deco1{
  margin : 0;
  font-family: 'Roboto', sans-serif;
  padding-right : 5%;
  color : #ffffff;
  font-size : 600%;
  font-weight : bold;
  text-transform : uppercase;
  animation : translate1 3s infinite;
}

.contentbox {
	width:470px;
	height:240px;
	font-size: 20px;
    background: #ffffff;
    color: #000000;
    padding: 2em;
    margin-left:114px;
    position: absolute;
    left: 0;
    top: 38%;
    left: 1239;
    opacity: 0.5;
    font-family:'Nanum Gothic';
    
}


@keyframes translate1{
  0% { opacity : 0; padding-left : 0; }
  20% { opacity : 1; padding-left : 5%; }
  65% { opacity : 1; padding-left : 5%; }
  80% { opacity : 0; padding-left : 10%; }
  100% { opacity : 0; padding-left : 10%; }
}
@keyframes translate2{
  0% { opacity : 0; padding-left : 50%; }
  21% { opacity : 1; padding-left : 58%; }
  64% { opacity : 1; padding-left : 58%; }
  82% { opacity : 0; padding-left : 66%; }
  100% { opacity : 0; padding-left : 66%; }
}

<!-- about us 세 번째 -->

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  word-wrap: break-word;
}

.body,
.imageCaption {
  line-height: 1.4;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.galleryWrapper {
  font-size: 0.85rem;
  width: 90%;
  margin: 3rem auto;
}

.galleryWrapper,
.imageBox {
  max-width: 60rem;
}

.header {
  font: 2.1em 'Oswald', sans-serif;
  margin: 1.25rem 0;
  padding: 0 0.5rem;
}

.imageBox,
.header {
  text-align: center;
}

.imageContainer {
  padding: 0 0.5rem 1.25rem;
  margin-top:-700px;
  width: 700px;
  height:300px;
  margin-left:600px;
}

.imageLink {
  display: inline-block;
}

.imageLink,
.imageBox {
  line-height: 0;  
}

.imageLink:nth-of-type(-n+3) {
  margin-bottom: 0.8rem;
}

.imageBox,
.largeImage,
.image,
.imageCaption {
  width: 100%;
}

.image,
.largeImage {
  -webkit-transform: perspective(1px);
  -moz-transform: perspective(1px);
  transform: perspective(1px);
}

.overlayContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 250;
}

.overlayContainer,
.imageCaption {
  bottom: 0;
}

.relativeContainer {
  position: relative;
  margin: 0 0.5rem;
}

.imageBox,
.imageCaption {
  position: absolute;
}

.imageBox {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.display {
  display: block;
}

.imageCaption {
  margin: 0;
  font-size: 1.3em;
  padding: 0.325rem;
}



/***Colors***/
body {
  color: #333;
  background-color: rgba(176, 196, 222, .4);
}

.imageLink {
  outline: none;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.imageLink:hover,
.imageLink:focus {
  opacity: 0.8;
}

.overlayContainer {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(51, 51, 51, .9);
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.imageBox {
  cursor: pointer;
}

.largeImage {
  box-shadow: 5px 5px 5px 0px rgb(0, 0, 0);
}

.imageCaption {
  background: rgba(51, 51, 51, .8);
  color: #fff;
}

.opacity {
  visibility: visible;
  opacity: 1;
}



@media only screen and (min-width: 30em) {
  
.imageLink {  
  float: left;
  width: 48.33%;
}
  
.imageLink:nth-of-type(1),
.imageLink:nth-of-type(3) {
  margin-right: 3.33%;
}  
  
.imageLink:nth-of-type(3) {
  margin-bottom: 0;
}
 
  
  
}