@charset "UTF-8";

aside {
	float: left;
}

input[type="checkbox"]#menu_state {
	display: none;
}

input[type="checkbox"]:checked ~ nav {
	width: 250px;
}

input[type="checkbox"]:checked ~ nav label[for="menu_state"] i::before {
	content: "\f053";
}

input[type="checkbox"]:checked ~ nav ul {
	width: 100%;
}

input[type="checkbox"]:checked ~ nav ul li a i {
	border-right: 1px solid #2f343e;
}

input[type="checkbox"]:checked ~ nav ul li a span {
	opacity: 1;
	transition: opacity 0.25s ease-in-out;
}

input[type="checkbox"]:checked ~ main {
	left: 250px;
}

nav {
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	bottom: 0;
	background: #404653;
	color: #9aa3a8;
	width: 65px;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	transition: all 0.15s ease-in-out;
}

nav label[for="menu_state"] i {
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: -8px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	background: #fff;
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: 1px solid #ddd;
	transition: width 0.15s ease-in-out;
	z-index: 1;
}

nav label[for="menu_state"] i::before {
	margin-top: 2px;
	content: "\f054";
}

nav label[for="menu_state"] i:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
}

nav ul {
	overflow: hidden;
	display: block;
	width: 70px;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	border: 1px solid #2f343e;
	position: relative;
}

nav ul li.unread:after {
	content: attr(data-content);
	position: absolute;
	top: 10px;
	left: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	color: #fff;
	background: #ef5952;
	font-size: 8px;
}

nav


 


ul


 


li




:not


 


(
:last-child


 


)
{
border-bottom




:


 


none




;
}
nav ul li.active a {
	background: #4c515d;
	color: #fff;
}

nav ul li a {
	position: relative;
	display: block;
	white-space: nowrap;
	text-decoration: none;
	color: #9aa3a8;
	height: 50px;
	width: 100%;
	transition: all 0.15s ease-in-out;
}

nav ul li a:hover {
	background: #4c515d;
	color: #fff;
}

nav ul li a * {
	display: inline-block;
}

nav ul li a i {
	text-align: center;
	width: 50px;
	z-index: 999999;
}

nav ul li a i.fa {
	line-height: 50px;
}

nav ul li a span {
	padding-left: 25px;
	opacity: 0;
	line-height: 50px;
	transition: opacity 0.1s ease-in-out;
}

#accordian {
	padding-top: 120px;
	width: 250px;
	margin: 100px auto 0 auto;
	

}

/* 메뉴 스타일 */
#accordian h3 {
	font-size: 14px;
	line-height: 34px;
	padding: 0 10px;
	cursor: pointer;
	background-color: #292e36;
}

#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

/* 아이콘폰트 스타일 */
#accordian h3 span {
	font-size: 16px;
	margin-right: 10px;
}

#accordian li {
	list-style-type: none;
}

/* 서브메뉴 스타일 */
#accordian ul ul li a {
	color: white;
	text-decoration: none;
	font-size: 11px;
	line-height: 50px;
	/* display: block; */
	padding: 0 25px;
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-o-transition: all 0.15s;
	-ms-transition: all 0.15s;
	transition: all 0.15s;
}

#accordian ul ul li a:hover {
	background: #003545;
	border-left: 5px solid #09c;
}

/* active 클래스 외에 것은 보이지 않게 하기 */
#accordian ul ul {
	display: none;
}

#accordian li.active ul {
	display: block;
}

#logo img {
	width: 80px;
	height: 80px;
	margin-left: 69px;
	background-color: white;
	border-radius: 40px;

}


.profile{
	margin-top: 45px;
	